#Libraries

In [ ]:
# Base -----------------------------------
import pathlib
import sys
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
from datetime import *
#para mostrar todas las columnas de la tabla
pd.set_option('display.max_columns', None)

In [ ]:
# Viz ------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
from plotnine import *
plt.style.use('seaborn')

<ipython-input-2-e7415da9f2bc>:5: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.

#Import Dataset FinalMerged_oilcom_prices_weather_holidays_vehicleslandscape

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Sharedrive file

file_path = '/content/drive/Shareddrives/Capstone - Repsol (Group 3)/Scope Investigation /FILE OUTPUT DATA/FinalMerged_oilcom_prices_weather_holidays_vehicleslandscape.csv'

# second sheet to be uploaded
df = pd.read_csv(file_path)

In [ ]:
df.head(1000)

,year_month,region,total_consumption,diesel_consumption,gasoline_consumption,diesel,gasoline,diesel_withouttaxes,gasoline_withoutaxes,lastbrentprice,apparent_temperature_max,days_holidays,total_gasoline_total,total_diesel_total
0,2014-04-01,Andalusia,386716.46,328745.20,57971.26,NaN,NaN,NaN,NaN,"108,07",24.56,2.0,176507.0,262207.0
1,2014-04-01,Aragon,109520.43,98357.66,11162.77,NaN,NaN,NaN,NaN,"108,07",19.90,3.0,27733.0,39691.0
2,2014-04-01,Asturias,58483.64,50783.96,7699.68,NaN,NaN,NaN,NaN,"108,07",15.34,2.0,21355.0,32798.0
3,2014-04-01,Balearic Islands,69908.04,53001.88,16906.16,NaN,NaN,NaN,NaN,"108,07",20.76,2.0,46543.0,29217.0
4,2014-04-01,Basque Country,158685.76,143567.15,15118.61,NaN,NaN,NaN,NaN,"108,07",14.32,3.0,43902.0,62401.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2018-01-01,Castile and León,246637.31,227659.29,18978.02,92.829,90.012,55.6974,54.0072,"69,05",5.60,NaN,NaN,NaN
996,2018-01-01,Castile-La Mancha,203714.10,190822.21,12891.89,92.829,90.012,55.6974,54.0072,"69,05",9.07,2.0,NaN,NaN
997,2018-01-01,Catalonia,434398.88,372869.86,61529.02,92.829,90.012,55.6974,54.0072,"69,05",13.01,2.0,NaN,NaN
998,2018-01-01,Ceuta,4257.05,3769.54,487.51,92.829,90.012,55.6974,54.0072,"69,05",NaN,NaN,NaN,NaN
999,2018-01-01,Extremadura,72966.88,65882.06,7084.82,92.829,90.012,55.6974,54.0072,"69,05",11.58,2.0,NaN,NaN

# Import Dataset Rate Desemployment

In [ ]:
# Sharedrive file

file_path = '/content/drive/Shareddrives/Capstone - Repsol (Group 3)/Scope Investigation /FILE OUTPUT DATA/RateUnemployment.csv'

# second sheet to be uploaded
df_desem = pd.read_csv(file_path)

In [ ]:
df_desem.head()

      region year_month  UnemRate
0  Andalusia    2024-01     17.77
1  Andalusia    2024-02     17.77
2  Andalusia    2024-03     17.77
3  Andalusia    2023-10     17.61
4  Andalusia    2023-11     17.61

In [ ]:
df_desem.region.unique()

array(['Andalusia', 'Aragon', 'Asturias', 'Balearic Islands',
       'Canary Islands', 'Cantabria', 'Castilla y Leon',
       'Castilla-La Mancha', 'Catalonia', 'Valencian Region',
       'Extremadura', 'Galicia', 'Madrid', 'Murcia', 'Navarra',
       'Basque Country', 'La Rioja', 'Ceuta', 'Melilla'], dtype=object)

In [ ]:
df.region.unique()

array(['Andalusia', 'Aragon', 'Asturias', 'Balearic Islands',
       'Basque Country', 'Canary Islands', 'Cantabria',
       'Castile and León', 'Castile-La Mancha', 'Catalonia', 'Ceuta',
       'Extremadura', 'Galicia', 'La Rioja', 'Madrid', 'Melilla',
       'Murcia', 'Navarre', 'Valencian Region'], dtype=object)

In [ ]:
# # Add 'Year_Month' column to new_df
# Usar str.split para dividir la columna year_month
df_desem[['year', 'month']] = df_desem['year_month'].str.split('-', expand=True)

In [ ]:
df_desem.head()

      region year_month  UnemRate  year month
0  Andalusia    2024-01     17.77  2024    01
1  Andalusia    2024-02     17.77  2024    02
2  Andalusia    2024-03     17.77  2024    03
3  Andalusia    2023-10     17.61  2023    10
4  Andalusia    2023-11     17.61  2023    11

In [ ]:
# # Add 'Year_Month' column to new_df
df_desem['year_month'] = pd.to_datetime(df_desem['year'].astype(str) + '-' + df_desem['month'].astype(str).str.zfill(2) + '-01').dt.date

In [ ]:
df_desem.tail()

       region  year_month  UnemRate  year month
5068  Melilla  2002-05-01      0.41  2002    05
5069  Melilla  2002-06-01      0.41  2002    06
5070  Melilla  2002-01-01     10.30  2002    01
5071  Melilla  2002-02-01     10.30  2002    02
5072  Melilla  2002-03-01     10.30  2002    03

In [ ]:
df_desem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5073 entries, 0 to 5072
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      5073 non-null   object
 1   year_month  5073 non-null   object
 2   UnemRate    5073 non-null   float64
 3   year        5073 non-null   object
 4   month       5073 non-null   object
dtypes: float64(1), object(4)
memory usage: 198.3+ KB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2318 entries, 0 to 2317
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year_month                2318 non-null   object
 1   region                    2318 non-null   object
 2   total_consumption         2318 non-null   float64
 3   diesel_consumption        2318 non-null   float64
 4   gasoline_consumption      2318 non-null   float64
 5   diesel                    1634 non-null   float64
 6   gasoline                  1634 non-null   float64
 7   diesel_withouttaxes       1634 non-null   float64
 8   gasoline_withoutaxes      1634 non-null   float64
 9   lastbrentprice            2318 non-null   object
 10  apparent_temperature_max  2074 non-null   float64
 11  days_holidays             1161 non-null   float64
 12  total_gasoline_total      576 non-null    float64
 13  total_diesel_total        576 non-null    float64
dtypes: float64(11), object(3)
memory usage: 253.7+ KB

In [ ]:
import pandas as pd

# Crear el mapa de estandarización completo
standardization_map = {
    'Andalusia': 'Andalusia',
    'Aragon': 'Aragon',
    'Asturias': 'Asturias',
    'Balearic Islands': 'Balearic Islands',
    'Canary Islands': 'Canary Islands',
    'Cantabria': 'Cantabria',
    'Castilla y Leon': 'Castile and León',
    'Castilla-La Mancha': 'Castile-La Mancha',
    'Catalonia': 'Catalonia',
    'Valencian Region': 'Valencian Region',
    'Extremadura': 'Extremadura',
    'Galicia': 'Galicia',
    'Madrid': 'Madrid',
    'Murcia': 'Murcia',
    'Navarra': 'Navarre',
    'Basque Country': 'Basque Country',
    'La Rioja': 'La Rioja',
    'Ceuta': 'Ceuta',
    'Melilla': 'Melilla'
}

# Aplicar el mapa de estandarización a df_desem
df_desem['region_standardized'] = df_desem['region'].map(standardization_map)

# Crear el mapa inverso para estandarizar df
inverse_standardization_map = {v: k for k, v in standardization_map.items()}
df['region_standardized'] = df['region'].map(inverse_standardization_map)

In [ ]:
# Convertir year_month a datetime
df['year_month'] = pd.to_datetime(df['year_month'])
df_desem['year_month'] = pd.to_datetime(df_desem['year_month'])

# Verificar tipos de datos
print(df.dtypes)
print(df_desem.dtypes)

year_month                  datetime64[ns]
region                              object
total_consumption                  float64
diesel_consumption                 float64
gasoline_consumption               float64
diesel                             float64
gasoline                           float64
diesel_withouttaxes                float64
gasoline_withoutaxes               float64
lastbrentprice                      object
apparent_temperature_max           float64
days_holidays                      float64
total_gasoline_total               float64
total_diesel_total                 float64
region_standardized                 object
dtype: object
region                         object
year_month             datetime64[ns]
UnemRate                      float64
year                           object
month                          object
region_standardized            object
dtype: object

In [ ]:
df_desem = df_desem[df_desem['year_month'].dt.year >= 2014]

In [ ]:
# Crear el mapa de estandarización completo
standardization_map = {
    'Andalusia': 'Andalusia',
    'Aragon': 'Aragon',
    'Asturias': 'Asturias',
    'Balearic Islands': 'Balearic Islands',
    'Canary Islands': 'Canary Islands',
    'Cantabria': 'Cantabria',
    'Castilla y Leon': 'Castile and León',
    'Castilla-La Mancha': 'Castile-La Mancha',
    'Catalonia': 'Catalonia',
    'Valencian Region': 'Valencian Region',
    'Extremadura': 'Extremadura',
    'Galicia': 'Galicia',
    'Madrid': 'Madrid',
    'Murcia': 'Murcia',
    'Navarra': 'Navarre',
    'Basque Country': 'Basque Country',
    'La Rioja': 'La Rioja',
    'Ceuta': 'Ceuta',
    'Melilla': 'Melilla'
}

# Aplicar el mapa de estandarización a df_desem
df_desem['region_standardized'] = df_desem['region'].map(standardization_map)

# Crear el mapa inverso para estandarizar df
inverse_standardization_map = {v: k for k, v in standardization_map.items()}
df['region_standardized'] = df['region'].map(inverse_standardization_map)

# Convertir year_month a datetime
df['year_month'] = pd.to_datetime(df['year_month'])
df_desem['year_month'] = pd.to_datetime(df_desem['year_month'])

# Realizar la unión usando las columnas estandarizadas y year_month
merged_final = pd.merge(df, df_desem[['year_month', 'region_standardized', 'UnemRate']],
                        left_on=['year_month', 'region_standardized'],
                        right_on=['year_month', 'region_standardized'],
                        how='left')

# Eliminar la columna temporal 'region_standardized' si ya no es necesaria
merged_final.drop(columns=['region_standardized'], inplace=True)

# Mostrar el resultado
print(merged_final.head())

  year_month            region  total_consumption  diesel_consumption  \
0 2014-04-01         Andalusia          386716.46           328745.20
1 2014-04-01            Aragon          109520.43            98357.66
2 2014-04-01          Asturias           58483.64            50783.96
3 2014-04-01  Balearic Islands           69908.04            53001.88
4 2014-04-01    Basque Country          158685.76           143567.15

   gasoline_consumption  diesel  gasoline  diesel_withouttaxes  \
0              57971.26     NaN       NaN                  NaN
1              11162.77     NaN       NaN                  NaN
2               7699.68     NaN       NaN                  NaN
3              16906.16     NaN       NaN                  NaN
4              15118.61     NaN       NaN                  NaN

   gasoline_withoutaxes lastbrentprice  apparent_temperature_max  \
0                   NaN         108,07                     24.56
1                   NaN         108,07                     19.90
2                   NaN         108,07                     15.34
3                   NaN         108,07                     20.76
4                   NaN         108,07                     14.32

   days_holidays  total_gasoline_total  total_diesel_total  UnemRate
0            2.0              176507.0            262207.0     34.74
1            3.0               27733.0             39691.0     20.83
2            2.0               21355.0             32798.0     21.02
3            2.0               46543.0             29217.0     19.04
4            3.0               43902.0             62401.0     16.13

<ipython-input-19-91630e0375c9>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
merged_final.head(100)

,year_month,region,total_consumption,diesel_consumption,gasoline_consumption,diesel,gasoline,diesel_withouttaxes,gasoline_withoutaxes,lastbrentprice,apparent_temperature_max,days_holidays,total_gasoline_total,total_diesel_total,UnemRate
0,2014-04-01,Andalusia,386716.46,328745.20,57971.26,NaN,NaN,NaN,NaN,"108,07",24.56,2.0,176507.0,262207.0,34.74
1,2014-04-01,Aragon,109520.43,98357.66,11162.77,NaN,NaN,NaN,NaN,"108,07",19.90,3.0,27733.0,39691.0,20.83
2,2014-04-01,Asturias,58483.64,50783.96,7699.68,NaN,NaN,NaN,NaN,"108,07",15.34,2.0,21355.0,32798.0,21.02
3,2014-04-01,Balearic Islands,69908.04,53001.88,16906.16,NaN,NaN,NaN,NaN,"108,07",20.76,2.0,46543.0,29217.0,19.04
4,2014-04-01,Basque Country,158685.76,143567.15,15118.61,NaN,NaN,NaN,NaN,"108,07",14.32,3.0,43902.0,62401.0,16.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2014-07-01,Andalusia,438204.60,373922.04,64282.56,NaN,NaN,NaN,NaN,"106,02",34.33,NaN,176507.0,262207.0,35.21
96,2014-07-01,Aragon,121851.51,109073.06,12778.45,NaN,NaN,NaN,NaN,"106,02",28.40,NaN,27733.0,39691.0,18.36
97,2014-07-01,Asturias,64704.91,56027.25,8677.66,NaN,NaN,NaN,NaN,"106,02",22.44,NaN,21355.0,32798.0,19.96
98,2014-07-01,Balearic Islands,84949.07,62056.32,22892.75,NaN,NaN,NaN,NaN,"106,02",30.95,NaN,46543.0,29217.0,15.94
99,2014-07-01,Basque Country,166676.90,149900.91,16775.99,NaN,NaN,NaN,NaN,"106,02",22.48,NaN,43902.0,62401.0,15.21

In [ ]:
# Drive Folder
csv_file_path = '/content/drive/Shareddrives/Capstone - Repsol (Group 3)/Scope Investigation /FILE OUTPUT DATA/FinalMerged_oilcom_prices_weather_holidays_vehicleslandscape_UnemRate.csv'

# csv file for oilconsumption CCAA
merged_final.to_csv(csv_file_path, index=False)

print(f'DataFrame saved successfully to {csv_file_path}')

DataFrame saved successfully to /content/drive/Shareddrives/Capstone - Repsol (Group 3)/Scope Investigation /FILE OUTPUT DATA/FinalMerged_oilcom_prices_weather_holidays_vehicleslandscape_UnemRate.csv